<div class="title-area">
    <div class="title">사람을 찾고 있나요?</div>
</div>
<div class="main">
    <div class="sidebar">
        <div class="clickable item first selected" onclick="setCategory(0)">
            전체
        </div>
        <% for (let i = 0; i < categories.length; i++) {%>
        <div
            class="clickable item<% if (i == categories.length-1) { %> last<% } %>"
            onclick="setCategory(<%= i+1 %>)"
        >
            <%= categories[i] %>
        </div>
        <% } %>
    </div>
    <div class="list">
        <div class="head">
            <div class="title">전체보기</div>
            <% if (isLogin) { %>
            <button class="clickable new" onclick="location.href='/post';">
                등록
            </button>
            <% } %>
        </div>
        <div class="image-view">
            <% for (let i = 0; i < posts.length; i++) { %>
            <div class="image-wrapper">
                <div
                    class="image clickable"
                    style="background-image: url(<%= posts[i].imageLink %>)"
                ></div>
                <div class="image-title clickable"><%= posts[i].title %></div>
                <div class="image-value">By <%= posts[i].author.name %></div>
            </div>
            <% } %> <% if (posts.length == 0) { %>
            <div class="image-wrapper">알맞은 결과가 없습니다.</div>
            <% } %>
        </div>
    </div>
</div>
